<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.CategoryMapper">
	<resultMap type="com.example.demo.admin.Category" id="categoryResult">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="p_id" property="p_id" />
	</resultMap>
	
	<insert id="insertC1" parameterType="com.example.demo.admin.Category">
		insert into category1 values(seq_category1.nextval, #{name})
	</insert>
	
	<select id="selectC1" parameterType="int" resultMap="categoryResult">
		select * from category1 where id=#{id}
	</select>
	
	<select id="selectAllC1" resultMap="categoryResult">
		select * from category1 order by id
	</select>
	
	<delete id="deleteC1" parameterType="int">
		delete category1 where id=#{id}
	</delete>
	
	
	<insert id="insertC2" parameterType="com.example.demo.admin.Category">
		insert into category2 values(seq_category2.nextval, #{name}, #{p_id})
	</insert>
	
	<select id="selectC2" parameterType="int" resultMap="categoryResult">
		select * from category2 where id=#{id}
	</select>
	
	<select id="selectAllC2" resultMap="categoryResult"	parameterType="int">
		select * from category2 where p_id=#{p_id} order by id
	</select>
	
	<delete id="deleteC2" parameterType="int">
		delete category2 where id=#{id}
	</delete>
	
	<insert id="insertC3" parameterType="com.example.demo.admin.Category">
		insert into category3 values(seq_category3.nextval, #{name}, #{p_id})
	</insert>
	
	<select id="selectC3" parameterType="int" resultMap="categoryResult">
		select * from category3 where id=#{id}
	</select>
	
	<select id="selectAllC3" resultMap="categoryResult" parameterType="int" >
		select * from category3 where p_id=#{p_id} order by id
	</select>
	
	<delete id="deleteC3" parameterType="int">
		delete category3 where id=#{id}
	</delete>
</mapper>



