<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.order.OrderMapper">
	<resultMap type="com.example.demo.order.Order"
		id="orderResult">
		<result column="num" property="num" />
		<result column="consumer_id" property="consumer_id" />
		<result column="seller_id" property="seller_id" />
		<result column="pro_num" property="pro_num" />
		<result column="recipient" property="recipient" />
		<result column="post_a" property="post_a" />
		<result column="road_a" property="road_a" />
		<result column="detail_a" property="detail_a" />
		<result column="quantity" property="quantity" />
		<result column="tel" property="tel" />
		<result column="memo" property="memo" />
		<result column="result" property="result" />
	</resultMap>
	<insert id="insert" parameterType="com.example.demo.order.Order">
		insert into shoporder values(seq_shoporder.nextval, #{consumer_id},
		#{seller_id}, #{pro_num}, #{recipient}, #{post_a}, #{road_a},
		#{detail_a}, #{quantity}, #{tel}, #{memo}, #{result})
	</insert>

	<select id="p_select" resultMap="orderResult"
		parameterType="String">
		select * from shoporder where seller_id = #{seller_id} order by consumer_id
	</select>

	<select id="select" resultMap="orderResult" parameterType="int">
		select * from shoporder where num=#{num} order by num
	</select>

	<select id="selectAll" resultMap="orderResult"
		parameterType="java.util.Map">
		select * from shoporder where consumer_id=#{consumer_id} and
		result=#{result} order by num
	</select>

	<update id="update" parameterType="java.util.Map">
		update shoporder set result=#{result} where num=#{num}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete shoporder where num=#{num}
	</delete>
</mapper>
