<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.member.MemberMapper">

	<resultMap id="MemberResult" type="com.example.demo.member.Member">
		<result column="id" property="id" />
		<result column="pwd" property="pwd" />
		<result column="name" property="name" />
		<result column="tel" property="tel" />
		<result column="email" property="email" />
		<result column="post_a" property="post_a" />
		<result column="road_a" property="road_a" />
		<result column="detail_a" property="detail_a" />
		<result column="type" property="type" />
	</resultMap>

	<select id="select" resultMap="MemberResult" parameterType="String">
		select * from shopmember where id = #{id}
	</select>
	
	<insert id="insert" parameterType="com.example.demo.member.Member">
		insert into shopmember values(#{id}, #{pwd}, #{name}, #{tel}, #{email}, #{post_a}, #{road_a}, #{detail_a}, #{type})
	</insert>
	
	<update id="update" parameterType="com.example.demo.member.Member">
		update shopmember set pwd=#{pwd}, name=#{name}, tel=#{tel}, email=#{email}, post_a=#{post_a}, road_a=#{road_a}, detail_a=#{detail_a} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete shopmember where id=#{id}
	</delete>

</mapper>