* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 110, 77);
}
.login {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.tb {
  margin: 0;
  padding: 0;
  width: 400px;
  border-color: white;
  font-size: 15px;
}
th {
  font-size: 18px;
}
td {
  padding: 5px;
  margin: 0;
  font-size: 17px;
}
input {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px 5px;
  border-style: none;
  
}
button {
	width: 100%;
	height: 100%;
  font-size: 17px;
  background-color: rgba(1, 39, 37,0.4);
  border-radius: 5px 5px;
  padding: 3px 5px;
  border: none;
  font-weight: bold;
  color:white;
}

button:hover {
  background-color:rgba(255,255,255,0.8);
  color: rgb(1, 39, 37);
  transition: 0.3s;
  cursor: pointer;
  padding: 5px 0px;
}

.wrap {
  position: absolute;
  top: 30%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
}

.lg-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.sm-text {
  font-size: 1.3rem;
  font-weight: bold;
}

b {
  font-weight: bold;
  padding: 5px 8px;
  color: rgb(255, 47, 0);
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px;
}
#dynamic {
  position: relative;
  display: inline-block;
}

#dynamic::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: white;
}

#dynamic.active::after {
  display: none;
}
